<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">GOV.UK Rails Components</h1>

    <% Dir
        .glob(Rails.root.join('app', 'views', 'demos', 'examples', '*.html.erb'))
        .map { |f| File.basename(f)[%r{_(?<partial>.*)\.html.erb}, %(partial)] }
        .sort
        .each do |p| %>
      <section class="component-example">
        <%= render %(demos/examples/#{p}) %>
      </section>
    <% end %>

  </div>
</div>
