---
title: Cookie banner
---

p Allow users to accept or reject cookies which are not essential to making your service work.

== render('/partials/example.*',
  caption: "Cookie banner with default arguments",
  code: cookie_banner_normal) do

  markdown:
    Content passed into the cookie banner via a block will be rendered as the
    cookie banner’s body.

    The cookie banner also accepts one or more actions. These should be buttons
    or links and will be placed in a `govuk-button-group` at the bottom of the
    cookie banner.

== render('/partials/related-info.*', links: cookie_banner_info)
