---
title: Tabs
---

p
  | The tabs component lets users navigate between related sections of content,
    displaying one section at a time.

== render('/partials/example.*',
  caption: "How to use the component",
  code: tabs_normal,
  render_in_boxes: true) do

  markdown:
    The tabs component have a `title`, which is displayed above a list of jump links on narrow screens or if javascript is unavailable. This defaults to ‘Contents’ but can be changed if needed.

    Each tab requires a `label` which will form the link at the top.

    The content can be set by using either a block of HTML, or the `text` argument.

== render('/partials/related-navigation.*', links: tabs_info)
