.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-*
spec/dummy/log/*.log
spec/dummy/storage/
spec/dummy/tmp/
spec/dummy/node_modules/
spec/dummy/public/assets/
spec/dummy/config/master.key
coverage
*.gem
.tool-versions
guide/tmp
guide/crash.log
guide/output
guide/node_modules
