---
title: About ViewComponent
---

markdown:
  [ViewComponent](https://viewcomponent.org/guide/slots.html) is a framework
  for Ruby on Rails that lets us build and share reusable components. View
  components are:

  * easy to test, both the logic and rendered HTML can be examined individually
  * easier to understand than partials as they are backed by a Ruby object
  * incredibly efficient, [ten times faster than partials](https://viewcomponent.org/#performance)

  View components are typically placed in `app/components` and consist of
  a Ruby file and a template file.

  They can be extended [to provide custom JavaScript and
  CSS](https://viewcomponent.org/guide/javascript_and_css.html) too, but this
  library doesn't do it.

  ## Slots

  Some compoonents contain elements that are repeated one or many times. For
  example, the [header component can display multiple navigation
  items](/components/header/#header-with-navigation-items). These are
  implemented using
  [ViewComponent's Slot API](https://viewcomponent.org/guide/slots.html).

  Slots are view components that appear within other view components, they can
  be deeply nested. For example, the [table component](/components/table) has
  many rows and each row can have many cells.

  Slots are called by opening a block when rendering the component and calling
  the slot by name against the object. In this example we have a shopping list
  with several items:

.code-sample
  pre
    code.highlight.language-slim
      | = render(ShoppingList.new) do |shopping_list|
          - shopping_list.item("Apple juice")
          - shopping_list.item("Bread")
          - shopping_list.item("Carrots")
