@import 'colours'

pre > code
  &.highlight
    color: $text

    .s,.s1,.s2,.vi,.sx
      color: $pink

    .nt,.nf,.nc
      color: $orange

    .n,.p,.k,.kp,.mi,.n,.o,.na,.ss
      color: $dark-blue

    .k,.kp
      font-weight: 600

    .no
      color: #0e5e5e

    // comments
    .c, .c1
      color: $dark-green
      font-style: italic

  &.language-slim
    color: $dark-blue
