- content = "This is a guide on using the #{govuk_link_to("GOV.UK Components", github_link)} collection".html_safe

== ActionController::Base.render(GovukComponent::PhaseBannerComponent.new(tag: { text: "documentation", colour: "purple" }, text: content))
