<%= tag.div(class: classes) do %>
  <ol class="govuk-breadcrumbs__list">
    <%- @breadcrumbs.each do |text, link| %>

      <%- if link.present? -%>
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to(text, link, class: "govuk-breadcrumbs__link") %>
        </li>
      <% else %>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          <%= text %>
        </li>
      <% end %>

    <% end %>
  </ol>
<% end %>
