<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= @summary %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= @text || content %>
  </div>
</details>
