<%= tag.div(class: classes, **html_attributes) do %>
  <% if display_title? %>
    <h1 class="govuk-panel__title">
      <%= @title %>
    </h1>
  <% end %>

  <% if display_body? %>
    <div class="govuk-panel__body">
      <%= content.presence || @body %>
    </div>
  <% end %>
<% end %>
