<%= tag.div(class: classes, **html_attributes) do %>
  <p class="govuk-phase-banner__content">
    <%= render(phase_tag) %>
    <span class="govuk-phase-banner__text">
      <%= content.presence || @text %>
    </span>
  </p>
<% end %>
