<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      <%= @tag %>
    </strong>
    <span class="govuk-phase-banner__text">
      <%= @text || html %>
    </span>
  </p>
</div>
