<%= content_tag('div', class: classes, **html_attributes) do %>
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"><%= @icon_fallback_text %></span>
    <%= @text %>
  </strong>
<% end %>
