.app-breadcrumbs--inverse {
  border-bottom: 1px solid govuk-tint($govuk-brand-colour, 25%);
  color: govuk-colour("white");

  .govuk-breadcrumbs__list-item:before {
    border-color: govuk-colour("white");
  }

  .govuk-breadcrumbs__link:not(:focus) {
    color: inherit;
  }
}
