.app-example {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  margin-left: 0;
  margin-right: 0;

  .govuk-tabs__panel {
    pre {
      margin-top: govuk-spacing(-2);
    }

    pre:last-child {
      margin-bottom: govuk-spacing(-2)
    }

    // make dark so the inverted hyperlinks (where the text is white) are visible
    &.inverse {
      background: govuk-colour('black');
    }
  }

  // pull the with container in so rendered previews don't push
  // up against the sides of the preview area
  .govuk-width-container {
    max-width: $govuk-page-width - 100px;
  }
}
