@use "../vendor/govuk-frontend" as *;

.app-example {
  margin-left: 0;
  margin-right: 0;
  @include govuk-font($size: 19);
  color: govuk-functional-colour('text');
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");

  .govuk-tabs__panel {
    > *:last-child {
      margin-bottom: govuk-spacing(-2);
      margin-top: govuk-spacing(-2);
    }

    // Make dark so inverted hyperlinks (where the text is white) are visible
    &.inverse {
      background: govuk-colour("blue");
    }
  }
}
