@font-face {
  font-family: "TransportNew";
  src: url("/assets/fonts/heavy.woff2") format("woff2"), url("/assets/fonts/heavy.woff") format("woff");
  font-weight: bold;
  size-adjust: 93.5%;
}

@font-face {
  font-family: "TransportNew";
  src: url("/assets/fonts/light.woff2") format("woff2"), url("/assets/fonts/light.woff") format("woff");
  font-weight: normal;
  size-adjust: 91%;
}
