.app-header {
  .govuk-header__logo {
    width: auto;
  }

  // visually adjust placement to accept larger icon with a height of 35px
  .app-header__logotype--large {
    margin-bottom: -10px;
    position: relative;
    top: -3px;
  }
}
