.app-header {
  // Remove bottom border on header, i.e. when masthead appears below it
  &--no-border {
    border-bottom: 0;
  }

  .govuk-header__logo {
    width: auto;
  }

  // X-GOVUK custom logo used in header
  // Visually adjusts placement of X-GOVUK logo which has a height of 35px
  .x-govuk-header__logotype {
    margin-bottom: -5px;
  }
}
