@use "../vendor/govuk-frontend" as *;

code {
  color: $govuk-text-colour;

  .s, .s1, .s2, .vi, .sx {
    color: govuk-shade(govuk-colour("pink"), 20%);
  }

  .nt, .nf, .nc {
    color: govuk-shade(govuk-colour("orange"), 20%);
    }

  .n, .p, .k, .mi, .n, .o, .na, .ss {
    color: govuk-colour("dark-blue");
  }

  .k {
    font-weight: 600;
  }

  .no {
    color: govuk-shade(govuk-colour("turquoise"), 20%);
  }

  .kp {
    color: govuk-colour("green");
  }

  .c, .c1 {
    color: $govuk-secondary-text-colour;
    font-style: italic;
  }
}
