@use "../vendor/govuk-frontend" as *;

code {
  color: govuk-functional-colour('text');

  .s, .s1, .s2, .vi, .sx {
    color: govuk-colour('magenta', $variant: 'shade-25');
  }

  .nt, .nf, .nc {
    color: govuk-colour("orange", 'shade-25');
  }

  .n, .p, .k, .mi, .n, .o, .na, .ss {
    color: govuk-colour('dark-blue');
  }

  .k {
    font-weight: 600;
  }

  .no {
    color: govuk-colour('teal', 'shade-25');
  }

  .kp {
    color: govuk-colour('green');
  }

  .c, .c1 {
    color: govuk-functional-colour('secondary-text');
    font-style: italic;
  }
}
