.app-masthead {
  @include govuk-responsive-margin(7, "bottom");
  @include govuk-responsive-padding(7, "bottom");
  color: govuk-colour("white");
  background-color: $govuk-brand-colour;
  margin-top: govuk-spacing(-2);
  padding-top: 0;

  .govuk-breadcrumbs {
    @include govuk-responsive-padding(3, "bottom");
    @include govuk-responsive-padding(4, "top");
  }

  .govuk-button--inverse {
    margin-top: govuk-spacing(6);
    margin-bottom: 0;
  }

  .app-masthead__title {
    @include govuk-font($size: 36, $weight: bold);
    @include govuk-responsive-padding(6, "top");
    margin-top: 0;
  }

  .app-masthead__description {
    @include govuk-font($size: 19);
    color: inherit;
    margin-bottom: 0;
  }

  .app-masthead__image {
    @include govuk-responsive-padding(6, "top");

    img {
      max-width: 100%;
    }

    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }
}

.app-masthead--large {
  .app-masthead__title {
    @include govuk-font($size: 48, $weight: "bold");
  }

  .app-masthead__description {
    @include govuk-font($size: 24);
  }
}
