<% content_for(:masthead) do %>
  <%= render partial: 'masthead' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Features</h2>

    <%= render partial: 'links-and-buttons' %>
    <%= render partial: 'helper-method-shorthand' %>
    <%= render partial: 'injecting-content-with-blocks' %>
  </div>
</div>
