// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-assets-path: "/assets/";
$app-iframe-mobile-height: 15rem;
$govuk-new-link-styles: true;
$govuk-font-family: system-ui, sans-serif;
$govuk-brand-colour: #28a;

// Import GOV.UK Frontend
@import "govuk/all";

// Application components
@import "components/breadcrumbs";
@import "components/button";
@import "components/example";
@import "components/header";
@import "components/highlight";
@import "components/iframe";
@import "components/list";
@import "components/masthead";
@import "components/prose";

// Classes used in examples

// advanced table example, change some alignment to make multiple sets
// of headers more readable
.govuk-table {
  &.starter-pokemon-weights {
    .govuk-table__head > .govuk-table__row {
      > .govuk-table__header {
        &.generation-heading {
          border-bottom: none;
          text-align: center;
        }
      }
    }

    .govuk-table__head,
    .govuk-table__body,
    .govuk-table__foot {
      > .govuk-table__row {
        .border-left { border-left: 1px solid $govuk-border-colour; }
        .thick-border-bottom { border-bottom: 3px solid $govuk-border-colour; }
        .no-border-bottom { border-bottom: none }
      }
    }
  }

  .govuk-table__foot {
    @include govuk-typography-weight-bold;
    border-top: 3px solid $govuk-border-colour;

    .govuk-table__row {
      .govuk-table__footer {
        text-align: left;
        padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;

        &--numeric { text-align: right; }
      }

      &:last-of-type {
        .govuk-table__header { border-bottom: none; }
      }

      .govuk-table__footer {
        &:last-child { padding-right: 0; }
      }
    }
  }
}

// inverse buttons, this can be removed once the functionality is supported by
// the design system. https://github.com/alphagov/govuk-frontend/pull/3556
$govuk-inverse-button-colour: govuk-colour("white");
$govuk-inverse-button-text-colour: govuk-colour("blue");
$govuk-inverse-button-hover-colour: govuk-tint($govuk-inverse-button-text-colour, 90%);
$govuk-inverse-button-shadow-colour: govuk-shade($govuk-inverse-button-text-colour, 30%);

.blue-bg { background: govuk-colour("blue"); }

.govuk-button--inverse {
  background-color: $govuk-inverse-button-colour;
  box-shadow: 0 2px 0 $govuk-inverse-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-inverse-button-text-colour;
  }

  @include _govuk-compatibility(govuk_template) {
    &:link:focus {
      color: $govuk-inverse-button-text-colour;
    }
  }

  &:hover {
    background-color: $govuk-inverse-button-hover-colour;

    &[disabled] {
      background-color: $govuk-inverse-button-colour;
    }
  }
}

@include govuk-exports("govuk/component/task-list") {
  $govuk-task-list-hover-colour: govuk-colour("light-grey");

  .govuk-task-list {
    @include govuk-font($size: 19);
    margin-top: 0;
    @include govuk-responsive-margin(6, "bottom");
    padding: 0;
    list-style-type: none;
  }

  // This uses table layout so that the task name and status always appear side-by-side, with the width of
  // each 'column' being flexible depending upon the length of the task names and statuses.
  //
  // The position is set to 'relative' so than an absolutely-positioned transparent element box
  // can be added within the link so that the whole row can be clickable.
  .govuk-task-list__item {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
    border-bottom: 1px solid $govuk-border-colour;
  }

  .govuk-task-list__item:first-child {
    border-top: 1px solid $govuk-border-colour;
  }

  // This class is added to the <li> elements where the task name is a link.
  // The background hover colour is added to help indicate that the whole row is clickable, rather
  // than just the visible link text.
  .govuk-task-list__item--with-link:hover {
    background: $govuk-task-list-hover-colour;
  }

  .govuk-task-list__name-and-hint {
    display: table-cell;
    vertical-align: top;
    @include govuk-text-colour;
  }

  .govuk-task-list__status {
    display: table-cell;
    padding-left: govuk-spacing(2);
    text-align: right;
    vertical-align: top;
    @include govuk-text-colour;
  }

  .govuk-task-list__status--cannot-start-yet {
    color: $govuk-secondary-text-colour;
  }

  // This adds an empty transparent box covering the whole row, including the task status and
  // any hint text. Because this is generated within the link element, this allows the whole area
  // to be clickable.
  .govuk-task-list__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .govuk-task-list__hint {
    margin-top: govuk-spacing(1);
    color: $govuk-secondary-text-colour;
  }
}
