@use "pkg:govuk-frontend/dist/govuk" as *;

// Ensure width-container maintains inline margin insider narrow preview frame
.govuk-width-container {
  @include govuk-media-query($from: tablet) {
    margin-right: $govuk-gutter;
    margin-left: $govuk-gutter;
  }
}

// Advanced table example, change some alignment to make multiple sets
// of headers more readable
.govuk-table.starter-pokemon-weights {
  .govuk-table__head > .govuk-table__row {
    > .govuk-table__header {
      &.generation-heading {
        border-bottom: none;
        text-align: center;
      }
    }
  }

  .govuk-table__head,
  .govuk-table__body,
  .govuk-table__foot {
    > .govuk-table__row {
      .border-left {
        border-left: 1px solid $govuk-border-colour;
      }

      .thick-border-bottom {
        border-bottom: 3px solid $govuk-border-colour;
      }

      .no-border-bottom {
        border-bottom: none;
      }
    }
  }
}

.govuk-table__foot {
  @include govuk-typography-weight-bold;
  border-top: 3px solid $govuk-border-colour;

  .govuk-table__row {
    .govuk-table__footer {
      text-align: left;
      padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;

      &--numeric {
        text-align: right;
      }
    }

    &:last-of-type {
      .govuk-table__header {
        border-bottom: none;
      }
    }

    .govuk-table__footer {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.govuk-header.with-extra-content > .govuk-header__container {
  display: flex;

  .govuk-header__logo {
    flex-grow: 1;
  }

  .account-options {
    align-content: center;
    font-weight: bold;
  }
}

// Example custom logo used in documentation
.app-header__logotype {
  fill: #00ffe0;
}

.app-header__logotext {
  color: #00ffe0;
  font-weight: bold;
}

// Manual service navigation
.app-service-navigation .govuk-width-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

// Isolate the preview from the rest of the page so components that only
// contain floating elements (i.e. the exit this page component) maintain
// height
.app-scoped-preview {
  contain: layout;

  // this doesn't work for some reason
  // --_govuk-brand-colour: govuk-functional-colour(brand);
  --_govuk-brand-colour: #1d70b8;
}
