<%= tag.div(**html_attributes) do %>
  <div class="govuk-summary-list__card-title-wrapper">
    <%= tag.h2(title, class: "govuk-summary-list__card-title") %>

    <% if actions.any? %>
      <div class="govuk-summary-list__card-actions">
        <ul class="govuk-summary-list__card-actions-list">
          <% actions.each do |action| %>
            <li class="govuk-summary-list__card-actions-list-item">
              <%= action %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="govuk-summary-list__card-content">
    <%= summary_list || content %>
  </div>
<% end %>
