compile '/index.slim' do
  filter :slim
  layout '/splash.*'
  write '/index.html'
end

compile '/components/*/*.slim' do
  filter :slim, format: :html
  filter :colorize_syntax, default_colorizer: :rouge
  filter :rubypants
  layout '/example.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.slim' do
  filter :slim, format: :html
  filter :colorize_syntax, default_colorizer: :rouge
  filter :rubypants
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.md' do
  filter :govuk_markdown
  filter :colorize_syntax, default_colorizer: :rouge
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

ignore '/**/_*.scss'
compile '/**/*.scss' do
  filter :dart_sass,
    load_paths: %w(.),
    pkg_importer: 'node',
    quiet_deps: true,
    silence_deprecation: 'import',
    style: 'compressed'
  write item.identifier.without_ext + '.css'
end

compile '/sitemap.xml' do
  filter :erb
  write '/sitemap.xml'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
